/* Template styling */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: #2A1B3D;
  background: url('../images/banner-background.jpg');
  font-family: 'Roboto', sans-serif;
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer';
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 410px;
  background: url('../images/banner-top.png');
}

nav {
  grid-area: menu;
  background-color: #D83F87;
  font-size: 1.5em;
  line-height: normal;
  padding: 20px;
  color: white;
  display: flex;
  border: 1px solid white;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  font-weight: bold;;
}

#container {
  grid-area: container;
  background-color: #220e43;
  color: rgb(255, 255, 255);

}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: #fff;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  height: 24px;
  flex: 1 0;
  margin: auto;
}

span.favorite {
  font-size: 30px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color: rgb(255, 0, 149);
}

/* End template styling */

/* Add your styles below */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

ul li {
  /* Bullet color */
  color: white;
  list-style-type: disc;
}

ul li span {
  /* Text color */
  color: rgb(209, 209, 209);
}

#content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


h2, h4 {
  color: rgb(160, 83, 179);
  margin-bottom: 0px;
}

button {
  color: rgb(160, 83, 179);
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}

#gifs h1 {
  font-size: 40px;
  color: white;
  margin-top: 50px;
  margin-left: 10px;
  
 
  
}

.content-gifs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}

.img {
  width: 250px;
  height: 300px;
}

.title {
  height: 40px;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.year {
  height: 20px;
  margin: 5px;
}

.heart {
  font-size: 20px;
  padding: 0px;
  margin-left: -20px;
  margin-top: 5px;
}

#single-view-image{
  margin: 10px;
  height: 450px;
}

.vl {
  border-left: 1.5px solid rgb(76, 76, 76);
  height: 470px;
  margin-right: 10px;
}

footer {
  grid-area: footer;
  height: 100px;
  background-color:#43d5c3;
}

section {
	width: 100%;
	padding: 20px;
}

section.trendingHome {
	background-color: #44318D;
  color: #ffffff;
}

section.favoritesHome {
	background-color: #291381;
}

section .content
{
	max-width: 1360px;
	overflow: hidden;
}

.content ul
{
	display: flex;
	margin: 0;
	padding: 0;
}


.content h1, h2
{
  color: white;
  padding-left: 25px;
}
.content ul > li
{
 
	height: 300px;
	list-style: none;
	margin-bottom: 2rem;
  margin-left: 1rem;
}

.content ul > li img
{
	max-height: 170px;
  border: 2px solid #ff0095;
}

.content ul.content-gifs
{
	flex-wrap: wrap;
}

.upload-text {
  display: flex;
  justify-content: center;
}

.trending_gif{
  max-width: 310px;
}

.trending_gif:hover + .info{
  max-width: 310px;
  display: block;
}
p.userinfo{
  max-width: 310px;
}

footer {
  background-color: #220e43;
}
.info{
  display: none;
  font-size: 14px;
}
#about{
  background-color: #220e43;
  padding: 10px;
}

.uploadBtn, .clearUploads {
  background-color: #D83F87;
  width: 70px;
  height: 30px;
  border: 2px solid white;
  color: white;
  font-size: 13px;
  border-radius: 10%;
}
#upload-form{
  margin-left: 30px;
  width: 500px;
}

.loader {
  visibility: hidden;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid green;
  border-bottom: 8px solid green;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: inline-block;
  margin-top: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}